[submodule "iOS 12/tfp0 Kernel Exploits/sock_port"]
	path = iOS 12/tfp0 Kernel Exploits/sock_port
	url = https://github.com/jakeajames/sock_port
[submodule "iOS 13/tfp0 Kernel Exploits/time_waste"]
	path = iOS 13/tfp0 Kernel Exploits/time_waste
	url = https://github.com/jakeajames/time_waste
